@font-face {
    font-family: 'chakra_petchregular';
    src: url('fonts/chakrapetch-regular-webfont.woff2') format('woff2'),
         url('fonts/chakrapetch-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p {
  font-family: 'chakra_petchregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24;
  color: black;
}
