@font-face {
  font-family: "Chakra Petch";
  src: url("css/fonts/some-font.eot");
  src: url("css/fonts/some-font.woff") format("woff"),
       url("css/fonts/some-font.otf") format("opentype"),
       url("css/fonts/some-font.svg#filename") format("svg");
}
